<div class=" header bg-danger pb-6">
    <div class=" container-fluid">
      <div class=" header-body">
        <div class=" row align-items-center py-4">
          <div class=" col-lg-6 col-7">
            <h6 class=" h2 text-white d-inline-block mb-0">Administration</h6>
  
            <nav
              aria-label="breadcrumb"
              class=" d-none d-md-inline-block ml-md-4"
            >
              <ol class=" breadcrumb breadcrumb-links breadcrumb-dark">
                <li class=" breadcrumb-item">
                  <a href="javascript:void(0)"> <i class=" fas fa-home"> </i> </a>
                </li>
  
                <li class=" breadcrumb-item">
                  <a href="javascript:void(0)"> Notifications </a>
                </li>
  
               
              </ol>
            </nav> 
          </div>
  
    
        </div>
      </div>
    </div>
  </div>
  
  <div class=" container-fluid mt--6">
    <div class=" card mb-4">
      <div class=" card-header"><h3 class=" mb-0">Notifications</h3></div>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
          <mat-slide-toggle [(ngModel)]="forMe" (change)="applyFilters()">Pour Action</mat-slide-toggle>
          <mat-slide-toggle [(ngModel)]="hasFacture" (change)="applyFilters()">Factures</mat-slide-toggle>
          <mat-slide-toggle [(ngModel)]="hasContrat" (change)="applyFilters()">Contrat</mat-slide-toggle>
        </div>
        
      </div>
<div class="card-body">
  <div id="container" >
        
    <!-- ========== START COPYING HERE ========== -->
    
    <div class="notif" (click)="onRowAction(ele)" *ngFor="let ele of filteredNotifications" [ngClass]="notificationContent(ele.type) ">
      <div class="row">
          <div class="col-sm-1">
              <img [src]="notificationContentimage(ele.type)" width="20" alt="">
              <img [src]="toMe(ele.forMe)" width="40"class="ml-3" alt="">

          </div>
          <div class="col-sm-11">
              <b style="color:red">{{ele.type=='init'?'création':ele.type=='disprove'?'retourné':'étape validée'}} </b> |  <strong>{{ele.intitule}} </strong> | {{ele.sended_at |date:"dd/MM/YYYY"}}<br> {{ele.content}}  
          </div>
          <small>{{getTimePassed(ele.createdAt)}}</small>
      </div>
      
     
    </div>

</div>
</div>

     
               
        </div>


     
  
      
      </div>
 