<div class=" header bg-danger pb-6">
  <div class=" container-fluid">
    <div class=" header-body">
      <div class=" row align-items-center py-4">
        <div class=" col-lg-6 col-7">
          <h6 class=" h5 text-white d-inline-block mb-0">root</h6>

          <nav
            aria-label="breadcrumb"
            class=" d-none d-md-inline-block ml-md-4"
          >
            <ol class=" breadcrumb breadcrumb-links breadcrumb-dark">
              <li class=" breadcrumb-item">
                <a href="javascript:void(0)"> <i class=" fas fa-home"> </i> </a>
              </li>

              <li class=" breadcrumb-item">
                <a href="javascript:void(0)"> Dashboards </a>
              </li>

              <li aria-current="page" class=" breadcrumb-item active">
                bienvenue
              </li>
            </ol>
          </nav>
        </div>

        <!-- <div class=" col-lg-6 col-5 text-right">
          <a class=" btn btn-sm btn-neutral" href="javascript:void(0)"> New </a>

          <a class=" btn btn-sm btn-neutral" href="javascript:void(0)">
            Filters
          </a>
        </div> -->
      </div>

      <div class=" row">
        <div class=" col-xl-3 col-md-6">
          <div class=" card card-stats">
            <div class=" card-body">
              <div class=" row">
                <div class=" col">
                  <h5 class=" card-title text-uppercase text-muted mb-0">
                    Montant total des contrats
                  </h5>

                  <span class=" h5 font-weight-bold mb-0"> {{dashboard.totalContractValue}} DH TTC </span>
                </div>

                <div class=" col-auto">
                  <div
                    class=" icon icon-shape bg-gradient-red text-white rounded-circle shadow"
                  >
                    <i class=" ni ni-active-40"> </i>
                  </div>
                </div>
              </div>

              <!-- <p class=" mt-3 mb-0 text-sm">
                <span class=" text-success mr-2">
                  <i class=" fa fa-arrow-up"> </i> 3.48%
                </span>

                <span class=" text-nowrap"> Depuis le mois dernier </span>
              </p> -->
            </div>
          </div>
        </div>

        <div class=" col-xl-3 col-md-6">
          <div class=" card card-stats">
            <div class=" card-body">
              <div class=" row">
                <div class=" col">
                  <h5 class=" card-title text-uppercase text-muted mb-0"> Nb total des Contrats </h5>

                  <span class=" h5 font-weight-bold mb-0"> {{dashboard.total}} </span>
                </div>

                <div class=" col-auto">
                  <div
                    class=" icon icon-shape bg-gradient-orange text-white rounded-circle shadow"
                  >
                    <i class=" ni ni-chart-pie-35"> </i>
                  </div>
                </div>
              </div>

              <!-- <p class=" mt-3 mb-0 text-sm">
                <span class=" text-success mr-2">
                  <i class=" fa fa-arrow-up"> </i> 3.48%
                </span>

                <span class=" text-nowrap"> Depuis le mois dernier </span>
              </p> -->
            </div>
          </div>
        </div>
        <div class=" col-xl-3 col-md-6">
          <div class=" card card-stats">
            <div class=" card-body">
              <div class=" row">
                <div class=" col">
                  <h5 class=" card-title text-uppercase text-muted mb-0">
                    NB de Contrats en cours
                  </h5>

                  <span class=" h5 font-weight-bold mb-0"> {{dashboard.ongoingContracts}} </span>
                </div>

                <div class=" col-auto">
                  <div
                    class=" icon icon-shape bg-gradient-green text-white rounded-circle shadow"
                  >
                    <i class=" ni ni-money-coins"> </i>
                  </div>
                </div>
              </div>

              <!-- <p class=" mt-3 mb-0 text-sm">
                <span class=" text-success mr-2">
                  <i class=" fa fa-arrow-up"> </i> 3.48%
                </span>

                <span class=" text-nowrap"> Depuis le mois dernier </span>
              </p> -->
            </div>
          </div>
        </div>

        <div class=" col-xl-3 col-md-6">
          <div class=" card card-stats">
            <div class=" card-body">
              <div class=" row">
                <div class=" col">
                  <h5 class=" card-title text-uppercase text-muted mb-0">
                    Performance (CTS validés/total)
                  </h5>

                  <span class=" h5 font-weight-bold mb-0">  {{dashboard.completedContracts*100 /dashboard.total | number:'1.2-2'  }} % </span>
                </div>

                <div class=" col-auto">
                  <div
                    class=" icon icon-shape bg-gradient-info text-white rounded-circle shadow"
                  >
                    <i class=" ni ni-chart-bar-32"> </i>
                  </div>
                </div>
              </div>

              <!-- <p class=" mt-3 mb-0 text-sm">
                <span class=" text-success mr-2">
                  <i class=" fa fa-arrow-up"> </i> 3.48%
                </span>

                <span class=" text-nowrap"> Depuis le mois dernier </span>
              </p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class=" container-fluid mt--6">
  <div class=" row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <app-gauge label="Durée moyenne des contrats" color="orange" [data1]="dashboard.averageContractDuration"></app-gauge>

        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <app-gauge label="Durée la plus longue" color="red" [data1]="dashboard.longestContractDuration"> </app-gauge>

        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <app-gauge label="Durée la plus courte" color="green" [data1]="dashboard.shortestContractDuration"></app-gauge>

        </div>
      </div>
    </div>
  </div>
  </div>
<div class=" container-fluid">
  <div class=" row">
    <div class=" col-xl-12">
      <div class=" card ">
        <div class=" card-header ">
          
        </div>

        <div class=" card-body">
          
            <!-- <canvas class=" chart-canvas" id="chart-sales-dark"> </canvas> -->
            <app-bar label="Données Global par Pole" [labels]="dashboard?.dashboardPoleBarDto?.polesNames" [data1]="dashboard?.dashboardPoleBarDto?.contractCounts" [data2]="dashboard?.dashboardPoleBarDto?.restartedContractsCount" [data3]="dashboard?.dashboardPoleBarDto?.validatedContractsCount"></app-bar>
          
        </div>
      </div>
    </div>

  
  </div>

  <div class=" row">
    <div class=" col-xl-12">
      <div class=" card ">
        <div class=" card-header ">
          
        </div>

        <div class=" card-body">
          
          <app-bar label="Données Global par Division" [labels]="dashboard?.dashboardBarDto?.divisionNames" [data1]="dashboard?.dashboardBarDto?.contractCounts" [data2]="dashboard?.dashboardBarDto?.restartedContractsCount" [data3]="dashboard?.dashboardBarDto?.validatedContractsCount"></app-bar>
        
        </div>
      </div>
    </div>

  
  </div>


</div>
